/* src/themes/theme.css */
:root {
  --background-color: #f0f0f0;
  --text-color: #121212;
  --navbar-bg: #ffffff;
  --button-bg: #e9e9e9;
  --button-text: #121212;
  --button-hover-bg: #dcdcdc;
  --primary-accent: #61dafb;
}

[data-theme='dark'] {
  --background-color: #121212;
  --text-color: #f0f0f0;
  --navbar-bg: #1e1e1e;
  --button-bg: #2a2a2a;
  --button-text: #f0f0f0;
  --button-hover-bg: #3a3a3a;
  --primary-accent: #bb86fc;
}

[data-theme='willow'] {
  --background-color: #0d0c1d; /* Very Dark Blue */
  --text-color: #e0e0e0;
  --navbar-bg: #1c1b2d;
  --button-bg: #4B0082; /* Indigo */
  --button-text: #e0e0e0;
  --button-hover-bg: #8A2BE2; /* BlueViolet */
  --primary-accent: #9370DB; /* MediumPurple */
}

[data-theme='wishes'] {
  --background-color: #f4e9d8; /* Light Brown/Beige */
  --text-color: #3a3a3a;
  --navbar-bg: #e9dac1;
  --button-bg: #546d64; /* Green */
  --button-text: #f4e9d8;
  --button-hover-bg: #739087;
  --primary-accent: #a87b53; /* Darker Brown */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
}
