/* src/App.css */
.App {
  text-align: center;
}

.page-container {
  padding: 2rem;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
